@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');
  
*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth; 
}

body {
    font-family: "Cairo", sans-serif;
    background-color: #310d2e;
    background: url("0000.png");
    margin: 0;
    padding: 0; 
    padding-top: 6em ;
}



.light {
    position: absolute;
    width: 0px;
    background-color: rgb(162, 98, 160);
    box-shadow: #8a5893 0px 0px 10px 2px;
    opacity: 0.1;
    top: 100vh;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
    z-index: -100;
  }
  
  .x1{
  -webkit-animation: floatUp 4s infinite linear;
  -moz-animation: floatUp 4s infinite linear;
  -o-animation: floatUp 4s infinite linear;
  animation: floatUp 4s infinite linear;
   -webkit-transform: scale(1.0);
   -moz-transform: scale(1.0);
   -o-transform: scale(1.0);
  transform: scale(1.0);
  }
  
  .x2{
  -webkit-animation: floatUp 7s infinite linear;
  -moz-animation: floatUp 7s infinite linear;
  -o-animation: floatUp 7s infinite linear;
  animation: floatUp 7s infinite linear;
  -webkit-transform: scale(1.6);
  -moz-transform: scale(1.6);
  -o-transform: scale(1.6);
  transform: scale(1.6);
  left: 15%;
  }
  
  .x3{
  -webkit-animation: floatUp 2.5s infinite linear;
  -moz-animation: floatUp 2.5s infinite linear;
  -o-animation: floatUp 2.5s infinite linear;
  animation: floatUp 2.5s infinite linear;
  -webkit-transform: scale(.5);
  -moz-transform: scale(.5);
  -o-transform: scale(.5);
  transform: scale(.5);
  left: -15%;
  }
  
  .x4{
  -webkit-animation: floatUp 4.5s infinite linear;
  -moz-animation: floatUp 4.5s infinite linear;
  -o-animation: floatUp 4.5s infinite linear;
  animation: floatUp 4.5s infinite linear;
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
  left: -34%;
  }
  
  .x5{
  -webkit-animation: floatUp 8s infinite linear;
  -moz-animation: floatUp 8s infinite linear;
  -o-animation: floatUp 8s infinite linear;
  animation: floatUp 8s infinite linear;
  -webkit-transform: scale(2.2);
  -moz-transform: scale(2.2);
  -o-transform: scale(2.2);
  transform: scale(2.2);
  left: -57%;
  }
  
  .x6{
  -webkit-animation: floatUp 3s infinite linear;
  -moz-animation: floatUp 3s infinite linear;
  -o-animation: floatUp 3s infinite linear;
  animation: floatUp 3s infinite linear;
  -webkit-transform: scale(.8);
  -moz-transform: scale(.8);
  -o-transform: scale(.8);
  transform: scale(.8);
  left: -81%;
  }
  
  .x7{
  -webkit-animation: floatUp 5.3s infinite linear;
  -moz-animation: floatUp 5.3s infinite linear;
  -o-animation: floatUp 5.3s infinite linear;
  animation: floatUp 5.3s infinite linear;
  -webkit-transform: scale(3.2);
  -moz-transform: scale(3.2);
  -o-transform: scale(3.2);
  transform: scale(3.2);
  left: 37%;
  }
  
  .x8{
  -webkit-animation: floatUp 4.7s infinite linear;
  -moz-animation: floatUp 4.7s infinite linear;
  -o-animation: floatUp 4.7s infinite linear;
  animation: floatUp 4.7s infinite linear;
  -webkit-transform: scale(1.7);
  -moz-transform: scale(1.7);
  -o-transform: scale(1.7);
  transform: scale(1.7);
  left: 62%;
  }
  
  .x9{
  -webkit-animation: floatUp 4.1s infinite linear;
  -moz-animation: floatUp 4.1s infinite linear;
  -o-animation: floatUp 4.1s infinite linear;
  animation: floatUp 4.1s infinite linear;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -o-transform: scale(0.9);
  transform: scale(0.9);
  left: 85%;
  }
  
  @-webkit-keyframes floatUp{
  0%{top: 100vh; opacity: 0.3;}
  25%{opacity: 0.3;}
  50%{top: 0vh; opacity: 0.3;}
  75%{opacity: 0.3;}
  100%{top: -100vh; opacity: 0.3;}
  }
  @-moz-keyframes floatUp{
  0%{top: 100vh; opacity: 0.3;}
  25%{opacity: 0.3;}
  50%{top: 0vh; opacity: 0.3;}
  75%{opacity: 0.3;}
  100%{top: -100vh; opacity: 0.3;}
  }
  @-o-keyframes floatUp{
  0%{top: 100vh; opacity: 0.3;}
  25%{opacity: 0.3;}
  50%{top: 0vh; opacity: 0.3;}
  75%{opacity: 0.3;}
  100%{top: -100vh; opacity: 0.3;}
  }
  @keyframes floatUp{
  0%{top: 100vh; opacity: 0.3;}
  25%{opacity: 0.3;}
  50%{top: 0vh; opacity: 0.3;}
  75%{opacity: 0.3;}
  100%{top: -100vh; opacity: 0.3;}
  }
  
  
  
  
  @-webkit-keyframes fadeIn{
  from{opacity: 0.3;}
  to{opacity: 0.3;}
  }
  
  @-moz-keyframes fadeIn{
  from{opacity: 0.3;}
  to{opacity: 0.3;}
  }
  
  @-o-keyframes fadeIn{
  from{opacity: 0.3;}
  to{opacity: 0.3;}
  }
  
  @keyframes fadeIn{
  from{opacity: 0.3;}
  to{opacity: 1;}
  }
  
  @-webkit-keyframes fadeOut{
  0%{opacity: 0;}
  30%{opacity: 1;}
  80%{opacity: .9;}
  100%{opacity: 0;}
  }
  
  @-moz-keyframes fadeOut{
  0%{opacity: 0;}
  30%{opacity: 1;}
  80%{opacity: .9;}
  100%{opacity: 0;}
  }
  
  @-o-keyframes fadeOut{
  0%{opacity: 0;}
  30%{opacity: 1;}
  80%{opacity: .9;}
  100%{opacity: 0;}
  }
  
  @keyframes fadeOut{
  0%{opacity: 0;}
  30%{opacity: 1;}
  80%{opacity: .9;}
  100%{opacity: 0;}
  }
  
  @-webkit-keyframes finalFade{
  0%{opacity: 0;}
  30%{opacity: 1;}
  80%{opacity: .9;}
  100%{opacity: 1;}
  }
  
  @-moz-keyframes finalFade{
  0%{opacity: 0;}
  30%{opacity: 1;}
  80%{opacity: .9;}
  100%{opacity: 1;}
  }
  
  @-o-keyframes finalFade{
  0%{opacity: 0;}
  30%{opacity: 1;}
  80%{opacity: .9;}
  100%{opacity: 1;}
  }
  
  @keyframes finalFade{
  0%{opacity: 0;}
  30%{opacity: 0.3;}
  80%{opacity: 0.3;}
  100%{opacity: 0.3;}
  }
  
  
.main #rrr{
    box-shadow: 0 5px 25px rgba(238, 98, 220, 0.25);

    margin-top: 2em;
    font-size: 35px;
    background-color: #8a2b97;
    border-radius: 50px;
    text-decoration: none;
    color: #efe2ed;
    align-items: center;
    text-align: center;
    
    

}
.main #rrr a{
    font-weight: 900;
    text-decoration: none;
    color: #e8dde9;

}
#splash-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  #splash-screen.hidden {
    display: none;
  }
  #splash-screen h1 {
    color: #ca76c1;

  }
  #splash-screen video {
    color: #ca76c1;

  }
header {
    position: -webkit-sticky; 
    position: sticky;
    z-index: 5000;
    opacity: 0.95;
    background-color: #f6f1f5;
    width: 100%;
    height: 5.5em;
    top: 0;
    position: fixed;
    transition: height 0.6s;
    transition: background-color 0.6s;

    
}

.header-small {
    height: 4em; /* اضبط الارتفاع حسب الحجم المصغر الذي تريده */
    background-color: #f8eef6c9;

  }

#sidebar {
    opacity: 0.95;
    height: auto;
    width: 0; 
    z-index: 2; 
    top: 0;
    right: 2; 
    background-color: #4d1548; 
    overflow-x: hidden; 
    transition: 0.5s;
    align-items: righe;
  }
  
  #sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 22px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
  }
  
  #sidebar a:hover {
    color: #845380;
  }
  
  .sidebar-btn {
    position: absolute;
    top: 0.3em;
    right: 0.9em;
    font-size: 30px;
    cursor: pointer;
    text-align: right;
    margin-left: auto;
    margin-right: auto;

  }
  
  #sidebar.open {
    width: auto;
    color: #000000;

  }

h1 {
    text-align: center;
    color: #b99090;
}

.ttt {
    font-size: 1.2em;
    padding-top: 0.5em;
    margin-left: auto;
    margin-right: auto;
    
    text-align: center;
    

}
#text-with-border #days{
    height: 100%;
    border-radius: 9999px;

    border: 3px dotted #f387e8;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    margin-right: 0.4em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    display: inline-block;
    color: #E2CDC6;
    
}
#text-with-border #hours{
    height: 100%;
    margin-right: 0.4em;
    border-radius: 9999px;

    border: 3px dotted #f387e8;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    display: inline-block;
    color: #E2CDC6;
    
    
}
#text-with-border #minutes{
    margin-right: 0.4em;

    height: 100%;
    border-radius: 9999px;

    border: 3px dotted #f387e8;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    display: inline-block;
    color: #E2CDC6;
    
    
}


#text-with-border #seconds{
    margin-right: 0.4em;

    height: 100%;
    border-radius: 9999px;

    border: 3px dotted #f387e8;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    display: inline-block;
    color: #E2CDC6;
    
    
}




.title {
    display: flex;
    justify-content: center;
    color: #69aaae;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;

}


.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;

}


.card {
    background-color: #fff;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 25%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
}

.card:hover{
    transform: scale(1.1);
    background-color: #6ca6aa;

}

.icon {
    color: #d5ecee;
    font-size: 8em;
    text-align: center;
}

.info {
    text-align: center;
}

.info h3{
    color: #267479;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}

.projects .title{
    text-shadow: 2px 2px 4px #000000;

    font-size: 2em;
    color: #fff;

}
.projects{
    position: relative;
    width: 130%;
    
}
.projects .content{
    margin-top: 20px;
    
    

}

.projectscard {

    background-color: #310d2e;
    border: 3px solid #cdcbcb;
    min-height: 14em;
    width: 130%;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;
}

.projectscard:hover {
    transform: scale(1.1);
    background-color: #51164c;

}
.projectscard:hover{
    opacity: 0.9;
}

.prijects-images img{
    width: 100%;

}

.prijects-info{
    padding: 0.5em;

}
.prijects-category{
    font-size: 2em;
    color: #f6f6f6;

}

.prijects-title{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;
}

.more-dit {
    padding-right: 8px;
    text-decoration: none;
    color: #ad4fdc;
    transition: 0.4s;

}

.more-dit:hover{
    color: rgb(220, 183, 236);
}







.ttt1 {
    margin-left: auto;
    margin-right: auto;
    font-size: 0.85em;
    padding-top: 0.3125em;
    text-align: center;

}
#text-with-border1 h3{
    padding-left: 0.8em;
    padding-right: 1em;
    display: inline-block;
    color: #E2CDC6;

    
    
}

    
    



.logo{
    text-decoration: none;
    color: #E2CDC6;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.200em;
}

.logo2 {
    color: #480936;
    font-weight: 400;
    font-size: 0.100em;
    padding-top: 7em;
    align-items: center;


}

.navigation a{
    text-shadow: 0.3125em 0.125em 0.5em #000000;
    color: #E2CDC6;
    text-decoration: none;
    font-size: 0.9375em;
    font-weight: 500em;
    padding-right: 1em;
    padding-left: 1.875em;
    transition: 0.7s ease;

}

.navigation a:hover{
    font-size: 1.125em;
    transform: scale(1.1);
    color: #9e40a3;

}
header img {
    height: 4em;
    width: 4em;
}

video {
    opacity: 1;
    padding-top: 2em;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#ppp{
    opacity: 0.8;
    padding-bottom: 10em;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.content {
    position: relative;
    z-index: 1;
    text-align: center;
    color: white;
    padding: 3.125em;
}






    

.main {
    direction: rtl;
    text-align: right;
    padding-right: 1.5em;
    padding-top: 1em;
    padding-left: 2em;
    background: url(4444.mp4) no-repeat;
}

.main img{
    padding-top: 0.2em;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.main h2 {
    color: #d7c6d8;
    font-size: 1.4em;
    font-weight: 900;
    
}

.main h2 span {
    padding-right: 5px;
    color: #fdfdfd;
    font-size: 1.5em;
    font-weight: 400;

}

.main h3 {

    color: #fff;
    font-size: 1em;
    font-weight: 200;
    margin-top: 0.8em;
}

.main h6 {

    padding-right: 0.2em;
    color: #b060b7;
    font-size: 1.2em;
    font-weight: 800;
    letter-spacing: 0.0625em;
    margin-top: 0.625em;
}
.main-btn {
    color: #fff;
    background-color: #a98c82a0;
    text-decoration: none;
    font-size: 0.6875em;
    font-weight: 600;
    display: inline-block;
    padding: 0.5859375em 1.3671875em;
    letter-spacing: 0.0625em;
    border-radius: 0.9375em;
    margin-bottom: 2.5em;
    transition: 0.7s ease;
}

.main-btn:hover {
    background-color: #455776;
    transform: scale(1.1);
}

.social-icons a {
    color: #fff;
    font-size: 1.0625em;
    padding-right: 1.875em;
}



.title {
    display: flex;
    justify-content: center;
    color: #606789;
    font-size: 1.375em;
    font-weight: 800;
    margin-bottom: 0.5em;
    padding-top: 3em;

}



.project-title {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 0.625em;
}



.footer {
    background-color: #290b26;
    color: #fff;
    padding-left: 1em;
    padding-top: 1em;
    display: flex;
    justify-content: space-between;
}

.footer-title {
    font-size: 1em;
    font-weight: 600;
}

.footer-title span {
    color: #E2CDC6;
}

.footer .social-icons a{
    font-size: 0.7em;
    padding: 0 0.75em 0 0;
}

.gallery {
    display: flex;
    overflow-x: auto;
    box-shadow: 5em 1em 3em rgba(75, 18, 81, 0.989);

}

.gallery-image {
    border-radius: 2em;
    min-width: 20em;
    height: 15em;
    object-fit: cover;
    margin-right: 2em;
}


.mySlides {display: none;}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;

  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

@media (max-width:390px){
    .ttt1{
        font-size: 0.8em;

    }
    .ttt{
        font-size: 1em;

    }

    .navigation a{
        font-size: 0.7em;
    }
}

@media (max-width:330px){
    .ttt1{
        font-size: 0.75em;
        padding-left: 0.5em;


    }
    .ttt{
        font-size: 0.9em;

    }

    .navigation a{
        font-size: 0.5em;
    }
}

@media (max-width:250px){
    .ttt1{
        font-size: 0.59em;
        padding-left: 0.4em;


    }
    .ttt{
        font-size: 0.7em;

    }

    .navigation a{
        font-size: 0.5em;
    }
}

