@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth; 
}

/* تنسيق العناصر الرئيسية */
body {
    font-family: Arial, sans-serif;
    background-color: #140927fb;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 75em;
    margin: 0 auto;
    padding: 1.25em;
}

h1 {
    text-align: center;
    color: #333;
}

/* تنسيق مؤقت العد التنازلي */
#countdown {
    text-align: center;
    font-size: 1.2em;
    color: #E2CDC6;
    margin-top: 0.2em;
    padding-right: 0.2em;
    padding-bottom: 0.2em;
}

header {
    background-color: #491344;
    width: 100%;
    height: 5em;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    text-decoration: none;
    color: #E2CDC6;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.200em;
}

.logo2 {
    color: #480936;
    font-weight: 400;
    font-size: 0.100em;
    padding-top: 7em;
    align-items: center;


}

.navigation a{
    text-shadow: 5px 2px 8px #000000;
    color: #E2CDC6;
    text-decoration: none;
    font-size: 0.9375em;
    font-weight: 500em;
    padding-right: 1em;
    padding-left: 1.875em;
    transition: 0.7s ease;

}

.navigation a:hover{
    font-size: 1.125em;
    transform: scale(1.1);
    color: #9e40a3;

}
header img {
    height: 4em;
    width: 4em;
}

video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.content {
    position: relative;
    z-index: 1;
    text-align: center;
    color: white;
    padding: 3.125em;
}

.main1 {
    width: 100%;
    min-height: 50vh;
    display: fixed;
    padding-left: 3.125em;
    align-items: center;
    background: url(4444.mp4) no-repeat;

}
.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    padding-left: 3.125em;
    align-items: center;
    background: url(4444.mp4) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.main h2 {
    color: #fff;
    font-size: 0.875em;
    font-weight: 500;
    
}

.main h2 span {
    display: flex;
    color: #8c3594;
    font-size: 1.375em;
    font-weight: 800;
    margin-bottom: 1.875em;

}

.main h3 {
    color: #fff;
    font-size: 1.25em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 0.625em;
    margin-bottom: 1.875em;
}

.main-btn {
    color: #fff;
    background-color: #a98c82a0;
    text-decoration: none;
    font-size: 0.6875em;
    font-weight: 600;
    display: inline-block;
    padding: 0.5859375em 1.3671875em;
    letter-spacing: 1px;
    border-radius: 0.9375em;
    margin-bottom: 2.5em;
    transition: 0.7s ease;
}

.main-btn:hover {
    background-color: #455776;
    transform: scale(1.1);
}

.social-icons a {
    color: #fff;
    font-size: 1.0625em;
    padding-right: 1.875em;
}

.title {
    display: flex;
    justify-content: center;
    color: #606789;
    font-size: 1.375em;
    font-weight: 800;
    margin-bottom: 1.875em;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    background-color: #fff;
    width: 13.28125em;
    box-shadow: 0 0.3125em 1.5625em rgba(1 1 1 / 15%);
    border-radius: 0.625em;
    padding: 1.5625em;
    margin: 0.9375em;
    transition: 0.7s ease;
}

.card:hover {
    transform: scale(1.1);
}

.card .icon {
    color: #353831;
    font-size: 5em;
    text-align: center;
}

.info {
    text-align: center;
}

.info h3{
    color: #353831;
    font-size: 0.75em;
    font-weight: 700;
    margin: 0.625em;
}



.projects .content{
    margin-top: 1.875em;
}

.project-card {
    background-color: #fff;
    border: 1px solid #fff;
    min-height: 8.75em;
    width: 14.375em;
    overflow: hidden;
    border-radius: 0.625em;
    margin: 1.25em;
    transition: 0.7s ease;
}

.project-card:hover {
   transform: scale(1.1);
}

.project-card:hover .project-image {
    opacity: 0.9;
 }
 .project-card:hover .project-image {
    opacity: 0.9;
 }
.project-image img{
    width: 100%
}

.project-info {
    padding: 0.0625em;
}

.project-category {
    font-size: 0.8em;
    color: #000;
}

.project-title {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;
}

.more-details {
    text-decoration: none;
    color: #353831;
}

.more-details:hover {
    color: #353831;
}

.contact .icon{
    font-size: 4.5em;
}

.contact .info h3 {
    color: #000;
}

.contact .info p {
    font-size: 1.5em;
}

.footer {
    background-color: #353831;
    color: #fff;
    padding: 2em;
    display: flex;
    justify-content: space-between;
}

.footer-title {
    font-size: 1.3em;
    font-weight: 600;
}

.footer-title span {
    color: #E2CDC6;
}

.footer .social-icons a{
    font-size: 1.3em;
    padding: 0 12px 0 0;
}

